{
  "openapi": "3.0.0",
  "info": {
    "title": "Complete E-Commerce API",
    "version": "2.0",
    "description": "Full-featured e-commerce API"
  },
  "servers": [
    {
      "url": "https://api.shop.com/v2"
    }
  ],
  "components": {
    "schemas": {
      "Product": {
        "title": "Product",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customerId": {
            "type": "integer"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                }
              },
              "additionalProperties": true
            }
          },
          "totalAmount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "shipped",
              "delivered"
            ]
          }
        },
        "additionalProperties": true
      },
      "ProductArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Product"
        }
      },
      "OrderArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Order"
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.shop.com/authorize",
            "tokenUrl": "https://auth.shop.com/token",
            "scopes": {
              "read:products": "read - products",
              "write:products": "write - products",
              "read:orders": "read - orders",
              "write:orders": "write - orders"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/products": {
      "get": {
        "summary": "List all products",
        "operationId": "get_products",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductArray"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new product",
        "operationId": "post_products",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write:products"
            ]
          }
        ]
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product by ID",
        "operationId": "get_products_productId",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List user orders",
        "operationId": "get_orders",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderArray"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read:orders"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create new order",
        "operationId": "post_orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write:orders"
            ]
          }
        ]
      }
    }
  }
}
